@-webkit-keyframes dropout {
	0% {
		-webkit-transform: translate(0,-200%);
	}
	20% {
		-webkit-transform: translate(0,0);
	}
	40% {
		-webkit-transform: translate(0,-5%);
	}
	60% {
		-webkit-transform: translate(0,0);
	}	
	80% {
		-webkit-transform: translate(0,-2%);
	}
	100% {
		-webkit-transform: translate(0,0);
	}
}

@-webkit-keyframes slide-to-next-btn {
	0%{
		-webkit-transform: translate(0,20%);
		opacity: 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0,-5%);
	}
}
@-webkit-keyframes shining {
	0%{
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes rotateIn {
	0% {
		opacity: 1;
		-webkit-transform: rotate(1deg); 
	}	
	50% {	
		opacity: 1;
		-webkit-transform: rotate(-1deg); 
	}
	65% {	
		opacity: 1;
		-webkit-transform: rotate(1deg); 
	}
	80% {	
		opacity: 1;
		-webkit-transform: rotate(－1deg); 
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(1deg); 
	}
}
@-webkit-keyframes leftToright {
	0% {
		opacity: 0;
		-webkit-transform: translate(-100%,0); 
	}	
	50% {	
		opacity: 1;
		-webkit-transform: translate(3%,0); 
	}
	65% {	
		opacity: 1;
		-webkit-transform: translate(-1%,0); 
	}
	80% {	
		opacity: 1;
		-webkit-transform: translate(0,0); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0,0); 
	}
}
@-webkit-keyframes rightToleft {
	0% {
		opacity: 0;
		-webkit-transform: translate(100%,0); 
	}	
	50% {	
		opacity: 1;
		-webkit-transform: translate(-3%,0); 
	}
	65% {	
		opacity: 1;
		-webkit-transform: translate(1%,0); 
	}
	80% {	
		opacity: 1;
		-webkit-transform: translate(0,0); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0,0); 
	}
}
@-webkit-keyframes frombottom {
	0% {
		-webkit-transform: translate(0,15%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0,0);
		opacity: 1;
	}
}
@-webkit-keyframes fromTop {
	0% {
		-webkit-transform: translate(0,-50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0,0);
		opacity: 1;
	}
}
@-webkit-keyframes fromleft {
	0% {
		-webkit-transform: translate(-20%,0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0,0);
		opacity: 1;
	}
}
@-webkit-keyframes fromright {
	0% {
		-webkit-transform: translate(100%,0);
		opacity: 0;
	}
	100% {
		-webkit-transform: translate(0,0);
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes smallTobig {
	0% {
		opacity: 0;
		-webkit-transform: scale(0,0); 
	}	
	50% {	
		opacity: 1;
		-webkit-transform: scale(1.1,1.1); 
	}
	70% {	
		opacity: 1;
		-webkit-transform: scale(0.9,0.9); 
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1,1); 
	}
}
@-webkit-keyframes bigTosmall {
	0% {
		opacity: 0;
		-webkit-transform: scale(2,2); 
	}	
	50% {	
		opacity: 1;
		-webkit-transform: scale(0.9,0.9); 
	}
	65% {	
		opacity: 1;
		-webkit-transform: scale(1.05,1.05); 
	}
	80% {	
		opacity: 1;
		-webkit-transform: scale(1,1); 
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1,1); 
	}
}
@-webkit-keyframes music1 {
	0% {
		opacity: 1;
		-webkit-transform: translate(0,0) rotate(0deg); 
	}	
	100% {
		opacity: 0;
		-webkit-transform: translate(0%,-25%) rotate(-45deg); 
	}
}
@-webkit-keyframes music2 {
	0% {
		opacity: 1;
		-webkit-transform: translate(0,0) rotate(0deg); 
	}	
	100% {
		opacity: 0;
		-webkit-transform: translate(0%,-3%) rotate(45deg); 
	}
}
@-webkit-keyframes music3 {
	0% {
		opacity: 1;
		-webkit-transform: translate(0,0) rotate(0deg); 
	}	
	100% {
		opacity: 0;
		-webkit-transform: translate(0%,-8%) rotate(0deg); 
	}
}
@-webkit-keyframes p2-txt {
	0% {
		opacity: 0;
		-webkit-transform: rotate(-45deg); 
	}	
	100% {
		opacity: 1;
		-webkit-transform: rotate(0deg); 
	}
}
@-webkit-keyframes bg-shining {
	0% {
		-webkit-transform: translate(150%,-50%); 
		opacity: 1;
	}	
	100% {
		-webkit-transform: translate(-100%,100%); 
		opacity: 1;
	}
}


@-webkit-keyframes lineZoom {
	0% {
		-webkit-transform: scale(1,1); 
	}
	50% {
		-webkit-transform: scale(0.95,0.95);
	}
	100% {
		-webkit-transform: scale(1,1);
	}
}

@-webkit-keyframes wallFloat {
	0% {
		-webkit-transform: translate(0,-1%); 
	}
	50% {
		-webkit-transform: translate(0,1%);
	}
	100% {
		-webkit-transform: translate(0,-1%);
	}
}

@-webkit-keyframes colorful1 {
	0% {
		-webkit-transform: translate(50%,-150%); 
	}
	30% {
		-webkit-transform: translate(-120%,250%);
	}
	100% {
		-webkit-transform: translate(-120%,250%);
	}
}

@-webkit-keyframes page2-tips {
	0% {
		opacity: 0;
		-webkit-transform: scale(4,4); 
	}	
	20% {	
		opacity: 1;
		-webkit-transform: scale(1,1); 
	}
	70% {	
		opacity: 1;
		-webkit-transform: scale(1,1); 
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1,1); 
	}
}

@-webkit-keyframes waterfall {
	0% {
		opacity: 1;
		-webkit-transform: translate(0,0); 
	}	
	100% {
		opacity: 0;
		-webkit-transform: translate(0,-15%); 
	}
}
@-webkit-keyframes changePage {
	0% {
		-webkit-transform: scale(0,0); 
	}	
	50% {
		-webkit-transform: scale(6,6); 
	}
	100% {
		-webkit-transform: scale(0,0); 
	}
}
.logo {
	animation: leftToright 0.7s ease both 1s;
	-webkit-animation: leftToright 0.7s ease both 1s;
}


.page1-btn {
	animation: smallTobig 0.4s ease both 2s;
	-webkit-animation: smallTobig 0.4s ease both 2s;
}
.page1-colorful1 {
	animation: colorful1 2s linear both infinite;
	-webkit-animation: colorful1 2s linear both infinite;
}
.page1-colorful2 {
	animation: colorful1 2.3s linear both infinites;
	-webkit-animation: colorful1 2.3s linear both infinite;
}
.page1-colorful3 {
	animation: colorful1 2.7s linear both infinite;
	-webkit-animation: colorful1 2.7s linear both infinite;
}
.page2-tips {
	animation: page2-tips 1.5s ease both;
	-webkit-animation: page2-tips 1.5s ease both;
}
.page2-waterfall1 {
	animation: waterfall 0.7s ease both infinite;
	-webkit-animation: waterfall 0.7s ease both infinite;
}
.page2-waterfall2 {
	animation: waterfall 0.7s ease both infinite 0.2s;
	-webkit-animation: waterfall 0.7s ease both infinite 0.2s;
}

.share-txt {
	animation: smallTobig 0.5s ease both 0.1s;
	-webkit-animation: smallTobig 0.5s ease both 0.1s;
	transform-origin: 10% 80%;
	-webkit-transform-origin: 10% 80%;
}
.share-ball1 img{
	animation: waterfall 0.7s ease both infinite;
	-webkit-animation: waterfall 0.7s ease both infinite;
}
.share-ball2 img{
	animation: waterfall 0.7s ease both infinite 0.2s;
	-webkit-animation: waterfall 0.7s ease both infinite 0.2s;
}
.share-ball1,.share-ball2{
	animation: fadein 0.7s ease both 0.4s;
	-webkit-animation: fadein 0.7s ease both 0.4s;
}
.donateData {
	animation: fadein 0.7s ease both 0.7s;
	-webkit-animation: fadein 0.7s ease both 0.7s;
}
.inputShining {
	animation: shining 1s ease both infinite;
	-webkit-animation: shining 1s ease both infinite;
}

.page0-c1 {
	animation: smallTobig 0.3s ease both 0.1s;
	-webkit-animation: smallTobig 0.3s ease both 0.1s;
}
.page0-c2 {
	animation: smallTobig 0.3s ease both 0.2s;
	-webkit-animation: smallTobig 0.3s ease both 0.2s;
}
.page0-c3 {
	animation: smallTobig 0.3s ease both 0.3s;
	-webkit-animation: smallTobig 0.3s ease both 0.3s;
}
.page0-c4 {
	animation: smallTobig 0.3s ease both 0.4s;
	-webkit-animation: smallTobig 0.3s ease both 0.4s;
}
.page0-c5 {
	animation: smallTobig 0.3s ease both 0.5s;
	-webkit-animation: smallTobig 0.3s ease both 0.5s;
}
.page0-c6 {
	animation: smallTobig 0.3s ease both 0.6s;
	-webkit-animation: smallTobig 0.3s ease both 0.6s;
}
.page0-title {
	animation: rightToleft 0.5s ease both;
	-webkit-animation: rightToleft 0.5s ease both;
}
.page0-colorful1 {
	animation: colorful1 3.3s ease both infinite 0.5s;
	-webkit-animation: colorful1 3.3s ease both infinite 0.5s;
}
.page0-colorful2 {
	animation: colorful1 3.7s ease both infinite 0.5s;
	-webkit-animation: colorful1 3.7s ease both infinite 0.5s;
}
.page0-colorful3 {
	animation: colorful1 4s ease both infinite 0.5s;
	-webkit-animation: colorful1 4s ease both infinite 0.5s;
}
.changeToNext {
	animation: changePage 1.5s ease both;
	-webkit-animation: changePage 1.5s ease both;
}